[submodule "riscv-disassembler"]
	path = riscv-disassembler
	url = https://github.com/michaeljclark/riscv-disassembler.git
[submodule "ELFIO"]
	path = ELFIO
	url = https://github.com/serge1/ELFIO.git
