.mono {
	font-family: monospace;
}

.hexview label, .assemblyview label {
	font-family: monospace;
}

.assemblyview label {
	padding: 0 4px;
}

.pc {
	background: #ccc;
}

.byte {
	padding: 0 4px;
}

.hidden {
	opacity: 0;
}

.console .input {
	border-radius: 0;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.console .output {
	color: white;
}

.console .output * {
	background: black;
}

.console .output, .console .input {
	font-family: monospace;
}
